:root{
    --primary-color:#5159c9;
    --background-color:white;
    --text-color:#2d3030;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.5rem;

}
a{
    text-decoration: none;
    color: white;
}
p{
    padding: 1rem 0;
}
ul li{
    list-style: none;
}
/* Ultility class */
.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
}
.btn-primary{
    background: var(--primary-color);
    border: 1px solid white;
    border-radius: 2px;
}
.btn-secondary{
    background: var(--primary-color);
    border-radius: 2px;
}
.btn-3{
border: 1px solid grey;
padding: 0.25rem 0.8rem;
margin: 0 0.5rem;
}
.text-primary-color{
    color:var(--primary-color);
}
.text-secondary-color{
    color:var(--text-color);
}
.text-white{
color: #ffff;
}
.text-center{
    text-align: center;
}
.p-1{
    padding: 1rem;
}
.pr-1{
    padding-right: 1rem;
}
.pl-1{
    padding-left: 1rem;
}
.pt-1{
    padding-top: 1rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.py-1{
    padding: 1.5rem 0;
}
.px-1{
    padding: 0 1.5rem;
}
.mx-1{
    margin: 0 1rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top:3rem;
}

.box-shadow{
    box-shadow: 5px 10px 8px #888888;
}
.half-width{
    width:50%;
}
/* Navbar */
#navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    background:var(--background-color);
    justify-content: space-between;
}
#navbar .nav-icons,
#navbar .nav-menus{
padding: 0.5rem;
background:var(--background-color);
}
#navbar .nav-menus{
    align-self: center;
}
#navbar .nav-icons span,
.media{
    margin: 0 0.5rem;
    font-size: 1.2rem;
    flex:1;
    background: var(--primary-color);
    padding: 10px;
    width: 40px;
    text-align: center;
    color: #fff;
}
#navbar .nav-menus ul{
    display: flex;
    flex:2;
    flex-basis: end;
}
#navbar .nav-menus ul li{
    margin: 0 1rem;
}
#navbar .nav-menus ul li a{
    color: var(--text-color);

}
#navbar .nav-menus ul li .active{
    color: grey;
}

/* Header */
#main-header{
    width: 100vw;
    position: relative;
}
#main-header .showcase-cover{
    background: url(../images/aa11.jpg) no-repeat center center/cover;
    width: 100%;
    height: 70vh;
}
#main-header .layer{
    position: relative;
}
#main-header .showcase-cover::before{
position: absolute;
content: '';
top: 0;
left:0;
right:0;
bottom:0;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.4);
}
#main-header .showcase-contents{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:20vh;
    left:50px;
    color: white;
    flex: 1;
}
#main-header .showcase-contents .bullet-container{
    height: 100%;
    margin-bottom: 3rem;
}
#main-header .showcase-contents .showcase-bullet{
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    align-self: center;
    justify-content: center;
    margin-right:50px;
    margin-top : 0.5rem;
}

#main-header .showcase-contents .active-bullet{
   background: white;
    border: 2px solid black; 
}

#main-header .showcase-contents .content{
    flex:2;
}
#main-header .showcase-contents .content h1{
    font-size: 3rem;
    line-height: 4rem;
}
#main-header .showcase-contents .blank{
    flex:1;
}

/* Left Articles */

#articles{
    display: flex;
    margin-top: 1rem;
    width: 100vw;
}
#left-articles{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
#left-articles .box{
    background:white;
}
#left-articles .box1,
#left-articles .box3{
    position: relative;
    display: flex;
    flex-direction:column;
    padding-left:10px;
    width:100%;
    height: 300px;
    flex:1;
}
.left-artile .blank{
    flex:1;
}

#left-articles .box1 .article-img{
    background: url(../images/aa22.jpg) no-repeat left/cover ;
    width: 300px;
    position: absolute;
    top: -25px;
    right:25px;
    bottom: -25px;

    /* position: absolute; */
}
#left-articles .box1 .hr-line,
#left-articles .box3 .hr-line{
    border-bottom: 1px solid black;
    width: 25%;
}
#left-articles .box .btn-container{
    display:flex;
    align-items: center;
}
#left-articles .box .btn-container .text-secondary-color{
    padding-left:40px;
    align-self: center;
}
#left-articles .box2 .article-img{
    height:300px;
    background: url(../images/ab2.jpg) center center/cover;
}
#left-articles .box2 .date{
    float: right;
}
#left-articles .box2 .btn-container,
#left-articles .box3 .btn-container{
    width: 97%;
    display: flex;
    justify-content: space-between;
}
#left-articles .box3{
    flex-direction: row;
    align-items: flex-end;
}
#left-articles .box3 .box-container,
#left-articles .box3 .blank{
    flex:1;
}
#left-articles .box3 .m-heading{
    align-self: left;
}
#left-articles .box3 .article-img{
    background: url(../images/aa11.jpg) no-repeat left/cover ;
    width: 300px;
    position: absolute;
    top: -25px;
    left:25px;
    bottom: -25px;
}
#left-articles .box4{
    display: flex;
}
#left-articles .box4 .box-split{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#left-articles .box4 .article-img{
    height:300px;
    background: url(../images/aa22.jpg) center center/cover;
}
#left-articles .box4 .btn-container{
    justify-content: center;
    align-items: center;
}
#left-articles .box-nav-bottom{
    display:flex;
    background: none;
    justify-content: center;
}
#left-articles .box-nav-bottom .previous{
    border-radius: 5px 0 0 5px;
}
#left-articles .box-nav-bottom .next{
    border-radius: 0 5px 5px 0;
}
/* Right Articles */
#right-articles{
    flex:1;
    display: flex;
    flex-direction: column;
}
.map{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:var(--background-color);
}
.map .map-photo{
    height: 75%;
    width: 95%;
    border: 1px solid black;
    bottom: 2rem;
}
#right-articles .box-2{
    text-align: center;
}
#right-articles .box-2 .article-img{
background: url(../images/aa1.jpg) no-repeat center center/cover;
height: 300px;
}
#right-articles .box-3{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

#right-articles .box-3 .input-box,
#right-articles .box-3 input{
    width:100%;
}
#right-articles .box-3 input{
    line-height: 2.2rem;
    margin-top: 1rem;
}
#right-articles .box-3 .btn{
    width: 100%;
    margin-top: 1rem;
}
#right-articles .box-4{
    display: flex;
    justify-content: center;
}
#right-articles .box-4 .box-4-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:60%;
}
#right-articles .box-4 .box-4-container .category-container{
    width: 100%;
    align-content: center;
    margin-bottom: 1rem;
    color: grey;
}
#right-articles .box-4 .box-4-container .category-container div{
    margin: 1rem 0;
    border-bottom: 1px solid grey;
    width: 100%;
}
#right-articles .box-5,
#right-articles .box-6,
#right-articles .box-5 .tags-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right-articles .box-5 .tags-container{
    width: 100%;
}
#right-articles .box-5 .tags-container .tags-item{
    display: flex;
    justify-content: center;
    width: 100%;
}
#right-articles .box-5 .tags-container .tags-item .btn{
    margin:1rem;
}
#right-articles .box-6 .blogs-container{
    flex-direction: column;
}
#right-articles .box-6 .blogs-container,
#right-articles .box-6 .blogs-container .blog{
display: flex;
width: 100%;
}
#right-articles .box-6 .blogs-container .blog{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#right-articles .box-6 .blogs-container .blog-img{
    flex: 4;
    margin-right: 1rem;
}
#right-articles .box-6 .blogs-container .blog-content{
    flex:9;
}
#right-articles .box-6 .blogs-container .blog-img-1,
#right-articles .box-6 .blogs-container .blog-img-4{
    background:url(../images/bb1.jpg) no-repeat center center/cover;
}
#right-articles .box-6 .blogs-container .blog-img-2{
    background:url(../images/bb2.jpg) no-repeat center center/cover;
}
#right-articles .box-6 .blogs-container .blog-img-3{
    background:url(../images/bb3.jpg) no-repeat center center/cover;
}
#right-articles .box-7,
#right-articles .box-7 .contact-form{
    display: flex;
    flex-direction: column;
}
#right-articles .box-7 .contact-form input,
#right-articles .box-7 .contact-form textarea{
    margin: 1rem;
}
#right-articles .box-7 .btn{
    margin: 1rem;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}
#main-footer{
    background: black;
    height: 450px;
    position: relative;
    margin-top: 1rem;
}
#main-footer .background-img{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 1rem;
    top:-2rem;
    left:0;
    right: 0;
    bottom: 0;
}
#main-footer .background-img .img-top,
#main-footer .background-img .img-bottom{
    display: flex;
}
#main-footer .background-img .img-footer{
    flex:1;
    height: 140px;
}
#main-footer .background-img .img-top .img-1{
    background: url(../images/g3.jpg) top/cover;
}
#main-footer .background-img .img-top .img-2{
    background: url(../images/g1.jpg) top/cover;
}
#main-footer .background-img .img-top .img-3{
    background: url(../images/g4.jpg) top/cover;
}
#main-footer .background-img .img-top .img-4{
    background: url(../images/g2.jpg) top/cover;
}
#main-footer .background-img .img-bottom .img-1{
    background: url(../images/g1.jpg) bottom/cover;
}
#main-footer .background-img .img-bottom .img-2{
    background: url(../images/g4.jpg) bottom/cover;
}
#main-footer .background-img .img-bottom .img-3{
    background: url(../images/g2.jpg) bottom/cover;
}
#main-footer .background-img .img-bottom .img-4{
    background: url(../images/g3.jpg) bottom/cover;
}
#main-footer .footer-bottom{
    color: white;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#main-footer .footer-bottom .footer-link-container{
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
}
#main-footer .footer-bottom .footer-link-container div{
    padding: 0.2rem 1rem;
    /* margin: 1rem 0; */
}
#main-footer .footer-bottom .copy-right{
    color: black;
    background: white;
}
#main-footer .footer-bottom .copy-right span{
    color: var(--primary-color);
}